@font-face {
	font-family: 'Roboto';
	src:url(./fonts/Roboto-BoldItalic.ttf)
}

@font-face{
	font-family: 'Roboto';
	src: url(./fonts/Roboto-Bold.ttf)
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
	  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
	  sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }
  
  code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
	  monospace;
  }
  
  a.button {
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
  
	text-decoration: none;
	color: initial;
  }
  
  h1, h2 {
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
	text-align: center;
	margin: 0
  }

  button {
	font-family: 'Roboto', sans-serif;
  }
  
  #root{
	background-color: black;
	justify-content: center;
	display: flex;
  }
  
  #content{
	display: flex;
	flex-direction: column;
	height: 736px;
	width: 414px;
	justify-content: space-between;
	background-color: white;
  }
  
  
  #header{
	font-family: 'Raleway', sans-serif;
	font-weight: lighter;
	font-size: 50px;
	text-align: center;
	margin: 0
  }
  
  
  .a_demo_four {
  
	  background-color:#3bb3e0;
	  font-family: 'Open Sans', sans-serif;
	  font-size:24px;
	  text-decoration:none;
	  color:rgb(0, 0, 0);
	  position:relative;
	  padding:10px 20px;
	  padding-right:50px;
	  background-image: linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	  background-image: -o-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	  background-image: -moz-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	  background-image: -webkit-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	  background-image: -ms-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	  background-image: -webkit-gradient(
	  linear,
	  left bottom,
	  left top,
	  color-stop(0, rgb(44,160,202)),
	  color-stop(1, rgb(62,184,229))
	  );
	  -webkit-border-radius: 5px;
	  -moz-border-radius: 5px;
	  -o-border-radius: 5px;
	  border-radius: 5px;
	  -webkit-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
	  -moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
	  -o-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
	  box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
  }
  
  .a_demo_four:active {
	  top:3px;
	  background-image: linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	  background-image: -o-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	  background-image: -moz-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	  background-image: -webkit-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	  background-image: -ms-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	  background-image: -webkit-gradient(
	  linear,
	  left bottom,
	  left top,
	  color-stop(0, rgb(62,184,229)),
	  color-stop(1, rgb(44,160,202))
	  );
	  -webkit-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
	  -moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
	  -o-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
	  box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
  }
  
  .a_demo_four::before {
	  background-color:#2591b4;
	  background-image:url(right_arrow.png);
	  background-repeat:no-repeat;
	  background-position:center center;
	  content:"";
	  width:20px;
	  height:20px;
	  position:absolute;
	  right:15px;
	  top:50%;
	  margin-top:-9px;
	  -webkit-border-radius: 50%;
	  -moz-border-radius: 50%;
	  -o-border-radius: 50%;
	  border-radius: 50%;
	  -webkit-box-shadow: inset 0px 1px 0px #052756, 0px 1px 0px #60c9f0;
	  -moz-box-shadow: inset 0px 1px 0px #052756, 0px 1px 0px #60c9f0;
	  -o-box-shadow: inset 0px 1px 0px #052756, 0px 1px 0px #60c9f0;
	  box-shadow: inset 0px 1px 0px #052756, 0px 1px 0px #60c9f0;
  }
  
  .a_demo_four:active::before {
	  top:50%;
	  margin-top:-12px;
	  -webkit-box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
	  -moz-box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
	  -o-box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
	  box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
  }
  
  #container_buttons{
	text-align: center;
  }
  
  .et_pb_button {
	clear:left;
	text-align: center;
	display: inline-block;
	margin: 5px; /* space between buttons */
  }
  
  .button-one {
	background: #60c9f0; /* background color */
  }
  .button-two {
	background: #60c9f0;
  }
  .button-three {
	background: #60c9f0;
  }
  .button-one,
  .button-two,
  .button-three {
	color: #1d1d1d; /* text color */
	display: inline-block;
	border-radius: 0; /* square corners */
	padding: 10px 18px; /* space around text */
	text-transform: uppercase; /* all capital letters */
	font-weight: 700;
	letter-spacing: 1px;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	border-right: 1px solid rgb(2, 2, 2);
	border-left: 1px solid rgb(2, 2, 2);
  }
  .button-one:hover,
  .button-two:hover,
  .button-three:hover {
	background: #fff;
  }
  
  
  .btnwrap {
	text-align: center;
  }
  
  /* .textwrap {
	background: #60c9f0;
  } */
  
  #header {
	font-style: oblique;
  }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;
  color: initial;
}

h1, h2, label {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  text-align: center;
  margin: 0
}

h3 {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}


#root{
  background-color: black;
  justify-content: center;
  display: flex;
}

#content{
  display: flex;
  flex-direction: column;
  height: 736px;
  width: 414px;
  justify-content: space-between;
  background-color: white;
}

#newappointment3{
  display: flex;
  justify-content: center;
}

#header{
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  font-size: 67px;
  text-align: center;
  margin: 0
}


.a_demo_four {

	background-color:#3bb3e0;
	font-family: 'Roboto', sans-serif;
	font-size:20px;
	text-decoration:none;
	color:#fff;
	position:relative;
	padding:10px 20px;
	padding-right:50px;
	background-image: linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -o-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(44,160,202)),
	color-stop(1, rgb(62,184,229))
	);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
	-moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
	-o-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
	box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
}

.a_demo_four:active {
	top:3px;
	background-image: linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -o-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(62,184,229)),
	color-stop(1, rgb(44,160,202))
	);
	-webkit-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
	-moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
	-o-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
	box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
}

.a_demo_four::before {
	background-color:#2591b4;
	background-image:url(right_arrow.png);
	background-repeat:no-repeat;
	background-position:center center;
	content:"";
	width:20px;
	height:20px;
	position:absolute;
	right:15px;
	top:50%;
	margin-top:-9px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	-webkit-box-shadow: inset 0px 1px 0px #052756, 0px 1px 0px #60c9f0;
	-moz-box-shadow: inset 0px 1px 0px #052756, 0px 1px 0px #60c9f0;
	-o-box-shadow: inset 0px 1px 0px #052756, 0px 1px 0px #60c9f0;
	box-shadow: inset 0px 1px 0px #052756, 0px 1px 0px #60c9f0;
}

.a_demo_four:active::before {
	top:50%;
	margin-top:-12px;
	-webkit-box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
	-moz-box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
	-o-box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
	box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
}

#container_buttons{
  text-align: center;
}
#qrbtn{
	text-align: center;
}
#branchbtn{
	text-align: center;
}
h3 {
  text-align: center;
}

#map, #branch, #center {
	display: flex;
	justify-content: center;
}

#makeappointment {
	margin: 10px;
	padding : 10px;
}

#branchesbtn{
	text-align: center;
}

#scdfhqbtn{
	padding : 10px 100px
}

#cdabtn {
	padding : 10px 40px
}

#htabtn {
	padding: 10px 44px;
}

#radiotime {
	padding: 5px;
}